*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 50px;
}
nav {
    height: 50px;
    background-color: #8ed5eb;
    color: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content:end;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}
nav li{
    padding: 10px;
}


a{
    text-decoration: none;
    color: rgb(119, 152, 161);
}
a:hover{
    text-decoration: none;
    color: rgb(159, 176, 211);
}
section{
    min-height: 480px;
    background-color: #9dd8eb;
    color: #484848;
    padding: 10px;
    border: 2px solid #618e99;
}

section:hover{
    background-color: #78a1dd;
    color: rgb(114, 130, 182);
}
.comando-git{
    padding: 5px;
    font-size: 3px solid #527392;
    background-color: #78a9bd;
    color:#484848;
}
p{
    padding: 5px;
}
.conteudo{
    margin-top: 50px;
}
#redes_sociais{

    display:flex;

    align-items: center;

    justify-content: center;

    flex-wrap: wrap;

}


.redes_sociais{

    height: 300px;

    width: 300px;

    border: #a793ff solid 5px;

    margin: 10px;

}


.rede_social>img{
    width: 100%;
    height: 80%;
}

#projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}
.Projetos{
    height: 300px;
    width: 300px;
    border: #6588a5 solid 5px;
    margin: 10px;
}
.projeto{
    height: 300px;
    width: 300px;
    border: #6588a5 solid 5px;
    margin: 10px;
}
.projeto>img{
    width: 100%;
    height: 80%;
}
.labels span{
    color: white !important;
    background-color: #7c5792;
    border-radius: 10px;
    padding: 2px 5px;
}